.top-bar {
  background-color: $nav-background;
  ul {
    background-color: $nav-background;
  }
  .menu-text {
    color: $nav-text-color;
  }
  .active-link {
    font-weight: bold;
  }
  .menu {
    li {
      a {
        display: inline-block;
        padding-left: .05rem;
      }
    }
  }
}